<%= form_for @work, :html => { :class => "form-horizontal"} do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @work.project_id && @work.story_id %>
    <% project_id = @work.project_id %>
    <% story_id = @work.story_id%>
  <% else %>
    <% project_id = params[:project_id] %>
    <% story_id = params[:story_id] %>
  <% end%>
  
  
  
  <fieldset>
    <legend>New work</legend>
    <div class="control-group">
      <%= f.label :day, :class => "control-label", :for =>"day_inputs" %>
      <div class="controls">
        <%= f.date_select :day, :id => "day_inputs" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :readonly => true, :class => "control-label", :for =>"description_input" %>
      <div class="controls">
        <%= f.text_area :description, :cols => 20, :rows => 5, :id => "description_input", :value => params[:description] %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :time, :class => "control-label", :for =>"time_input" %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :time, :id => "time_input", :class => "span2" %>
          <span class="add-on">minutes</span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :project_id, :class => "control-label", :for =>"project_id_input" %>
      <div class="controls">
        <%= f.text_field :project_id, :id => "project_id_input", :value => project_id %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :story_id, :class => "control-label", :for =>"story_id_input" %>
      <div class="controls">
        <%= f.text_field :story_id, :id => "story_id_input", :value => story_id %>
      </div>
    </div>
    <div class="form-actions">
       <%= f.submit :class => "btn btn-success"%>
    </div>
  </fieldset>
<% end %>
