<h1>Work list</h1>

<table class="table table-striped">
  <tr>
    <th>Day</th>
    <th>Story ID / Activity</th>
    <th>Time</th>
  </th>
  <% @works.each do |day, day_works| %>   
    <tr>
      <td><%= day %></td>
      <td></td>
      <td></td>
    </tr>
    <% day_works.each do |work|%>
    <tr>
      <td></td>
      <td><%= link_to work.story_id, project_story_path(work.project_id, work.story_id) %> / <%= work.description %></td>
      <td><%= format_time(work.time) %></td>
    </tr>
    <% end %>
    <tr>
      <th>Time summary:</th>
      <th></th>
      <th><%= format_time(day_works.sum(&:time)) %></th>
    </tr>
  <% end%>
</table>
