
<%= link_to 'New Work', new_work_path %>

<h1>Work list</h1>

<table class="table table-striped">
  <tr>
    <td>Day</td>
    <td>Activity</td>
    <td>Time</td>
  </th>
  <% @works.each do |day, day_works| %>   
    <tr>
      <td><%= day %></td>
      <td></td>
      <td></td>
    </tr>
    <% day_works.each do |work|%>
    <tr>
      <td></td>
      <td><%= link_to work.story_id, project_story_path(work.project_id, work.story_id) %> / <%= work.description %></td>
      <td><%= format_time(work.time) %></td>
    </tr>
    <% end %>
    <tr>
      <td>Time summary:</td>
      <td></td>
      <td><%= format_time(day_works.sum(&:time)) %></td>
    </tr>
  <% end%>
</table>
