<div class="row">
  <div class="span8"><h1>Work list</h1></div>
  <div class="span2">
    <a href="/works.pdf" class="btn btn-primary">
      <i class="icon-download-alt icon-white"></i>Download
    </a>
  </div>
</div>


<table class="table table-striped">
  <tr>
    <th>Day</th>
    <th>Story ID / Activity</th>
    <th>Time</th>
    <th></th>
  </th>
  <% @works.each do |day, day_works| %>   
    <tr>
      <td><%= day %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% day_works.each do |work|%>
    <tr>
      <td></td>
      <td>
      <% if work.project_id && work.story_id %>
        <%= link_to work.story_id, project_story_path(work.project_id, work.story_id) %> / <%= work.description %>
      <% else %>
        <%= work.description %>
      <% end %>
      </td>
      <td><%= format_time(work.time) %></td>
      <td><%= link_to "Edit", edit_work_path(work.id) %></td>
    </tr>
    <% end %>
    <tr>
      <th>Time summary:</th>
      <th></th>
      <th><%= format_time(day_works.sum(&:time)) %></th>
      <th></th>
    </tr>
  <% end%>
</table>
