<h1>Work list</h1>

<%= form_tag("/works", :method => "get") do%>
  <%= select_month(@month,:field_name => 'month') %>
  <%= select_year(@year, :field_name => 'year') %>
  <%= submit_tag("Show") %>
<% end %>

<%= @work2 %>
<table>
  <tr>
    <th>Day</th>
    <th>Description</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @days.each do |day| %>
  <tr>
	<td><%= day.strftime('%d %b %Y') %></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
  </tr>
<% end%>

<% @works.each do |work| %>
  <tr>
    <td><%= work.day %></td>
    <td><%= work.description %></td>
    <td><%= work.time %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
