<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @work.day %>
</p>

<p>
  <b>Description:</b>
  <%= @work.description %>
</p>

<p>
  <b>Time:</b>
  <%= @work.time %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
