<p>Activity ID: <%= @activity_id %></p>
<p>Time: <%= @time %></p>
<p>Description: <%= @activity.description %></p>
<p>Project ID: <%= @activity.project_id %></p>
<p>Story ID: <%= @activity.story_id %></p>
<p>User: <%= @user.email %></p>

<h1><%= @message %></h1>
