<%= form_for(@setting, :html => { :class => "form-horizontal" }) do |f| %>
<!--  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
-->
 <fieldset>
   <legend>Your Pivotal Tracker setting is on Profile page</legend>
   <div class="control-group">
     <%= f.label :pt_name, :class => "control-label", :for =>"pt_name_input" %>
     <div class="controls">
        <%= f.text_field :pt_name, :disabled => true, :class => "input-xlarge disabled", :id => "pt_name_input" %>
     </div>
   </div>
  <div class="control-group">
    <%= f.label :pt_api_key, :class => "control-label", :for =>"pt_api_key_input" %>
    <div class="controls">
       <%= f.text_field :pt_api_key, :disabled => true, :class => "input-xlarge disabled", :id => "pt_api_key_input" %>
    </div>
  </div>
  </fieldset>
<% end %>