<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @setting.name %>
</p>

<p>
  <b>Apikey:</b>
  <%= @setting.APIkey %>
</p>

<p>
  <b>Enabled:</b>
  <%= @setting.enabled %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
