<h1>It works</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Story_type:</b>
  <%= @story.story_type %>
</p>

<p>
  <b>Story ID:</b>
  <%= @story.id %>
</p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>description:</b>
  <%= @story.description %>
</p>

