<header>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
		  <li><%= link_to "Projects", projects_path%></li>
			<li><%= link_to "My Work", works_path%></li>
			<%= render 'devise/menu/admin' %>
			<li><%= link_to "Setting", settings_path %></li>
			<%= render 'devise/menu/registration_items' %>
			<%= render 'devise/menu/login_items' %>
		</ul>
	</nav>
</header>