<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      	<ul class="nav">
      	  <%= link_to "Time Sheet", root_path, :class => 'brand'%>
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li><%= link_to "Projects", projects_path%></li>
          <li><%= link_to "My Work", works_path%></li>
          <%= render 'devise/menu/admin' %>
    			<li><%= link_to "Settings", settings_path, :class => 'pull-right'%></li>
        </ul>
        <ul class="nav pull-right">
          <%= render 'devise/menu/registration_items' %>
    			<%= render 'devise/menu/login_items' %>
        </ul>
      </div>
    </div>
  </div>
</header>